body{
    position: relative;
}
.header{
    background-color: var(--bordo);
    padding: 30px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.listaNav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nombre_empresa{
    color: white;
    text-transform: uppercase;/*------------nombre de la empresa-------*/
    text-decoration: none;
}
.listaItem a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.3s;
}
.listaItem a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.iniciarSesion{
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.main, .seccion_abajo{
    padding: 0;
    margin: 0;
    background-color: var(--gris);
}
.boton_menu_header{
    display: none;
}
.linkNav{
    margin:0 10px;
}

@media (max-width: 900px){
    .header{
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        
    }
    .header_nombre{
       margin: 20px auto;
        
    }
    .nombre_empresa{
        display: flex;
        justify-content: center;
    }
    .nombre_empresa a{
        text-align: center;
    }
    .listaItem a{
        padding: 10px 0px;
    }
    .listaNav{
        display: flex;
        justify-content: space-between ;
    }
    .listaNav a{
        margin: 0;
    }
    .listaFondo{
        display: flex;
        justify-content: space-between ;
    }
    
    }
