.borde{
	border-radius: 0px !important;
}

a {
  color:  #fff;
  display:inline-block;
  text-decoration:none !important;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display:inline-block;
  color: #fff;
}



/* ESTRUCTURA */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  min-height: 100%;
  height: 750px;
  padding: 20px;
  background-image: linear-gradient(to right top, #0abee8, #4dc1ec, #6dc5ef, #86c8f1, #9bccf2, #95c4ee, #90bce9, #8bb4e4, #6e9ed9, #5288ce, #3472c2, #035cb5);
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #767877;
  padding: 10px;
  width: 50%;
  max-width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  padding: 2px ;
  text-align: right;
  width: 90%;
}



/*INPUT*/

input[type=button], input[type=submit]  {
  background-color:  #a51c30;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color:  #3D7CAE;
}

input[type=button]:active, input[type=submit]:active {
  transform: scale(0.85);
}

input[type=text], input[type=email] {
  background-color: #fff;
  color: #0d0d0d;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px 10px 10px 10px;
}

input[type=text]:focus, input[type=email]:focus{
  border: 3px solid #a51c30 !important;
  outline: none;
}

input[type=text]:placeholder, input[type=email]:placeholder {
  color: #cccccc;
}



/* ANIMACIONES */

/* Simple Fade-in-down Animation */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;/*Deja que el elemento div obtenga los valores de estilo establecidos por el primer fotograma clave antes de que comience la animación y conservar los valores de estilo del último fotograma clave cuando finaliza la animación*/
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Simple Fade-in Animacion */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}


/* ANIMATION - underline */
.underlineHover:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover::after{
  width: 100%;
}
