* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer .footer-personal {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #680f19;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px; }
    footer .links p {
        color: white;
        text-align: left;
        display: block;
        margin-bottom: 10px;}
    footer .footer-personal .bi-whatsapp {
        font-size: 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: white; }
        footer .footer-personal .bi-whatsapp:hover {
            color: #4BCA5A; }
    footer .footer-personal .bi-twitter {
        font-size: 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: white; }
        footer .footer-personal .bi-twitter:hover {
            color: #1A8CD8; }
    footer .footer-personal .bi-instagram {
        font-size: 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: white; }
        footer .footer-personal .bi-instagram:hover {
            color: #AE1179; }
    footer .footer-personal .bi-facebook {
        font-size: 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: white; }
        footer .footer-personal .bi-facebook:hover {
            color: #1877F2; }
  
footer .copyright {
    background-color: #680f19;
    text-align: center;
    padding: 5px;
    margin-bottom: 0%;
    color: white; }