:root{
    --bordo: #680f19;
    --celeste: #3D7CAE;
    --gris: #5F5F5F;/*Estos son los codigos de colores*/
    --bordes: #D9D9D9;
}
*{
    margin: 0;
    padding: 0;
}
/*----------------Aca comienza modificacion del header--------------*/
.header{
    background-color: var(--bordo);
    padding: 30px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navegacion{
    display: flex;
    justify-content: space-between;
}
.seccionNav{
    display: flex;
}
.listaNav{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}
.nombre{
    color: white;
    text-transform: uppercase;/*------------nombre de la empresa-------*/
    text-decoration: none;
}
.listaItem a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.3s;
}
.listaItem a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.iniciarSesion{
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.main, .seccion_abajo{
    padding: 0;
    margin: 0;
    background-color: var(--gris);
}
/*--------------------------esto de arriba es parte de la portada...........*/
.imagenfondo{
    background-image: url(../img/imagen_principal/imagen_portada_2.jpg);
    background-repeat: no-repeat;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.mainUno{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;
    width: 100%;
    height: 700px;
}
div .tituloPrincipal{
    font-size: 90px;
    text-align: center;
    text-shadow:
    -5px 5px 0 #fff, 
    -5px 5px 0 #fff,  
    -5px 5px 0 #fff,  
    -5px 5px 0 #fff;
}
div .subtituloPrincipal{
    font-size: 40px;
    text-align: center;
    text-shadow: 
    -2px 2px 0 #fff, 
    -2px 2px 0 #fff,  
    -2px 2px 0 #fff,  
    -2px 2px 0 #fff;
}
.botonRegistrarse{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 50px;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    background-color: var(--bordo);
    
}
.botonRegistrarse:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

.fondo{
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pregunta_seccion_input{
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 600px;
}
/*-------------------------seccion imput-----------*/
.tituloSection{
    color: white;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}
.buscadorDestinos{
    display: flex;   
}
.inputBuscador{
    height: 50px;
    width: 100%;
    border-radius: 20px;
    padding-left: 20px;  
}
.botonBuscador{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    background-color: var(--bordo);
    margin-left: 20px;
}
.botonBuscador:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
/*-------------------------arriba es la seccion imput-----------*/
/*----------------todo el contenido de main principal----*/
.contenedorTitulo{
    color: white;
    font-size: 30px;
    margin: 20px 0 40px 0;
    text-align: center;
}
.tituloHoteles{
    font-size: 40px;
}
.centrarImagenes{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.contenedorImagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tituloSection{
    color: white;
    font-size: 25px;
    margin: 50px 0;
}
.contenedor_de_imagenes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr 50px);
    max-width: 2000px;
}
.imgPlace{
    background-color: var(--bordes);
    padding: 3px;
    width: 200px;
    height: 280px;
    margin: 25px;
}
.boton_anterior{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
}
.boton_siguiente{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
}

.botonAnterior, .botonSiguiente{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 50px;
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--bordo);
}
.botonAnterior:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}
.botonSiguiente:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}
/*----------------todo el contenido de main principal arriba----*/

/*linea divisora--------*/
.lineaDivisoraFondo{
    background-color: var(--gris);
}
.lineaDivisora{
    width: 80%;
    height: 2px;
    background-color: red;
    margin: 0 auto;
}
/*linea divisora--------*/
/*----------aca va el contenido en forma de carrusel---*/
.seccion_abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor_carrusel{
    display: flex;
    width: 100%;
    /*background-color: #000;*/
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 40px;
    
}
.contenedor_imagenes_subtitulos{
    max-width: 90%;
    overflow-x: auto;
}

.contenedor_imagenes_subtitulos::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    height: 20px;
  }
.contenedor_imagenes_subtitulos::-webkit-scrollbar-track{
    background-color: #888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.contenedor_imagenes_subtitulos::-webkit-scrollbar-thumb {
    background-color: var(--bordo); /* Color del pulgar */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; /* Borde redondeado del pulgar */
    
  }
.subtituloSection{
    text-align: center;
}
.tituloSection{
    font-size: 50px;
}
.contenedor_imagenes_subtitulos{
    
    display: flex;
}

/*-------------------las mediaquerie para ser poco responsive------*/
@media (max-width: 1600px) {
    .contenedor_de_imagenes{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 50px);
    }
    .boton_anterior{
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .boton_siguiente{
        grid-row: 5 / 6;
        grid-column: 4 / 5;
    }
}
@media (max-width: 1300px) {
    .contenedor_de_imagenes{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 50px);
    }
    .boton_anterior{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }
    .boton_siguiente{
        grid-row: 6 / 7;
        grid-column: 3 / 4;
    }
}
@media (max-width: 1024px) {
    .contenedor_de_imagenes{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 50px);
    }
    .boton_anterior{
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    .boton_siguiente{
        grid-row: 7 / 8;
        grid-column: 3 / 4;
    }
    /*----------------------------*/
    div .tituloPrincipal{
        font-size: 60px;
    }
    div .subtituloPrincipal{
        font-size: 30px;
    }
}
@media (max-width: 768px){
    .contenedor_de_imagenes{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px);
    }
    .boton_anterior{
        grid-row: 10 / 11;
        grid-column: 1 / 2;
    }
    .boton_siguiente{
        grid-row: 10 / 11;
        grid-column: 2 / 3;
    }
    .centrarImagenes{
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .listaNav{
        display: none;
    }
}
@media (max-width: 480px) {
    .contenedor_de_imagenes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14, 1fr);
    }
    .boton_anterior{
        grid-row: 20 / 21;
        grid-column: 1 / 2;
        margin-bottom: 20px;
    }
    .boton_siguiente{
        grid-row: 21 / 22;
        grid-column: 1 / 2;
    }
    div .tituloPrincipal{
        font-size: 40px;
    }
    div .subtituloPrincipal{
        font-size: 25px;
    }
    .mainUno{
        width: 100%;
        height: 400px;
    }
    .tituloSection{
        font-size: 40px;
    }
    .tituloHoteles{
        font-size: 30px;
    }
    .imagenfondo{
        height: 650px;
    }
}