:root{
    --bordo: #680f19;
    --celeste: #3D7CAE;
    /*--gris: #5F5F5F;/*Estos son los codigos de colores*/
    --gris: #181419;
    --bordes: #D9D9D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------esto es el contenedor de las imagenes de hoteles--------*/
.centrarImagenes{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.contenedorImagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tituloSection{
    color: white;
    font-size: 25px;
    margin: 50px 0;
}
.contenedor_de_imagenes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr 50px);
    max-width: 2000px;
}
.imgPlace{
    background-color: var(--bordes);
    padding: 3px;
    width: 200px;
    height: 280px;
    margin: 25px;
}
.boton_anterior{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
}
.boton_siguiente{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
}
/*------------------------------------*/


/*----------------todo el contenido de main principal arriba----*/

/*linea divisora--------*/
.lineaDivisoraFondo{
    background-color: var(--gris);
}
.lineaDivisora{
    width: 80%;
    height: 1.5px;
    background-color: red;
    margin: 0 auto;
}
/*linea divisora--------*/
/*----------aca va el contenido en forma de carrusel---*/
.seccion_abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor_carrusel{
    display: flex;
    width: 100%;
    /*background-color: #000;*/
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 40px;
    
}
.contenedor_imagenes_subtitulos{
    max-width: 90%;
    overflow-x: auto;
}


.subtituloSection{
    text-align: center;
}
.tituloSection{
    font-size: 50px;
}

/*-----------------aca comienza el footer ------------------*/




